.benefits__list {
  @include list-reset;
}

.benefits__item {
  background-color: $basic-grey;
}

.benefit__title {
  @include font-size (24px, 37px, 400);
  font-family: $primary-text;
  color: $basic-black;
  text-transform: uppercase;
  margin: 0;
}

.benefit__description {
  @include font-size (14px, 18px, 400);
  margin: 0;
}

.benefit__btn {
  @include font-size (16px, 16px, 400);
  font-family: $primary-text;
  text-transform: uppercase;
  color: $basic-black;
  position: relative;
}

.benefits__wrapper {
  @media (min-width: $tablet-width) {
    width: 709px;
    height: 773px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    height: 374px;
    width: 1221px;
  }
}
