.catalog {
  @include above($tablet-width) {
    margin-bottom: 60px;
  }

  @include above($desktop-width) {
    margin-bottom: 75px;
  }
}

.catalog__headline {
  @include font-size (36px, 36px, 400);
  font-family: $primary-text;
  color: $basic-black;
  margin: 0;
  margin-bottom: 49px;

  @include above($tablet-width) {
    @include font-size (60px, 60px, 400);
    margin-bottom: 84px;
  }
}

.catalog__list {
  @include list-reset;
}
