.contacts {
  position: relative;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 28px 0;

  @include above($tablet-width) {
    padding: 65px 40px 56px;
  }

  @include above($desktop-width) {
    position: absolute;
    top: 101px;
    left: calc(50% - 600px);
    width: 520px;
    background-color: $basic-white;
  }
}

.contacts__title {
  @include font-size (16px, 18px, 400);
  font-family: $primary-text;
  color: $basic-black;
  text-transform: uppercase;
  margin: 0;
  width: 50%;

  @include above($tablet-width) {
    @include font-size (20px, 21px, 400);
    width: 170px;
  }
}

.contacts__address {
  @include font-size (14px, 20px, 400);
  font-style: normal;
  width: 50%;

  @include above($tablet-width) {
    @include font-size (16px, 20px, 400);
    text-align: right;
    width: 160px;
  }
}

.contacts__city {
  @include above($tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__inner {
  background-color: $basic-grey;
}

.contacts__map-wrapper {
  min-width: 320px;
  min-height: 365px;
  background-image: url("../img/map/map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina ($retina-dpi, $retina-dppx) {
    background-image: url("../img/map/map-mobile@2x.png");
  }

  @include above($tablet-width) {
    min-height: 400px;
    background-image: url("../img/map/map-tablet@1x.png");

    @include retina ($retina-dpi, $retina-dppx) {
      background-image: url("../img/map/map-tablet@2x.png");
    }
  }

  @include above($desktop-width) {
    background-image: url("../img/map/map-desktop@1x.png");

    @include retina ($retina-dpi, $retina-dppx) {
      background-image: url("../img/map/map-desktop@2x.png");
    }
  }
}
