.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;


  &:active {
    opacity: 0.6;
  }

  @include above($tablet-width) {
    align-items: center;
    width: 162px;
  }

  @include above($desktop-width) {
    width: 170px;
  }
}

.copyright__link:hover .copyright__link-svg,
.copyright__link:focus .copyright__link-svg {
  color: $basic-green;
}

.copyright__text {
  @include font-size (16px, 18px, 400);
  font-family: $secondary-text;
  color: $special-dark-grey;
  margin: 0;
}

.copyright__link-svg {
  color: $special-grey3;

  @include above($tablet-width) {
    width: 30px;
    height: 34px;
  }
}
