.main-nav {
  position: relative;
  width: 100%;
  min-height: 42px;

  @include below($mobile-width-only) {
    &--closed {
      display: none;
    }

    &--opened {
      display: block;
    }
  }

  &--nojs {
    .site__list {
      display: block;
    }
  }

  @include above($tablet-width) {
    width: 70%;
  }

  @include above($desktop-width) {
    width: 50%;
  }
}

.main-nav__list {
  @include list-reset;
}
