.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    width: 709px;
    height: 146px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    height: 149px;
    width: 1221px;
  }
}
