.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include above($tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  text-align: center;
  padding-top: 40px;
}
