.promo__headline {
  @include font-size (36px, 36px, 400);
  font-family: $primary-text;
  color: $basic-black;
  margin: 0;
}

.promo__subtitle {
  @include font-size (14px, 14px, 400);
  font-family: $primary-text;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 709px;
    height: 831px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    height: 648px;
    width: 1217px;
  }
}
