.radio {
  @include above($tablet-width) {
    border: 1px solid $basic-grey200;
    padding: 25px 27px;
  }
}

.radio__list {
  @include list-reset;
}

.radio__label {
  @include font-size (16px, 18px, 400);
  font-family: $primary-text;
  color: $special-dark-grey2;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  user-select: none;

  @include above($tablet-width) {
    @include font-size (20px, 30px, 400);
  }
}

.radio__item {
  padding-left: 45px;
  margin-bottom: 20px;
}

.radio__input + .radio__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  border-radius: 50%;
}

.radio__input:checked + .radio__label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -36px;
  width: 13px;
  height: 13px;
  background-color: $basic-green;
  border-radius: 50%;
}
