.site-list {
  @include above($tablet-width) {
    display: flex;
    flex: wrap;
    justify-content: flex-end;
    text-align: center;
  }
}

.site-list__item {
  @include above($tablet-width) {
    margin-left: 34px;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      border-bottom: 1px solid $basic-green;
    }
  }

  @include above($desktop-width) {
    margin-left: 37px;

    &:first-child {
      margin-left: 0;
    }

    &--white {
      border-bottom: 1px solid $basic-white;

      .site-list__link {
        color: white;
      }
    }
  }
}

.site-list__link {
  @include font-size (20px, 20px, 500);
  font-family: $primary-text;
  color: $basic-black;
  text-transform: uppercase;

  &:hover {
    color: $special-grey3;
  }

  &:focus {
    color: $special-grey;
  }

  @include above($tablet-width) {
    @include font-size (18px, 24px, 400);
  }

  @include above($desktop-width) {
    @include font-size (20px, 30px, 400);
  }
}
