.stats {
  display: flex;
  justify-content: space-between;

  @include above($tablet-width) {
    justify-content: start;
  }
}

.stats__number {
  @include font-size (24px, 24px, 400);
  font-family: $primary-text;
  color: $basic-black;
  text-align: center;

  @include above($tablet-width) {
    @include font-size (30px, 37px, 400);
  }
}

.stats__description {
  @include font-size (12px, 12px, 400);
  margin: 0;

  @include above($tablet-width) {
    @include font-size (14px, 14px, 400);
  }
}

.stats__expenses {
  @include font-size (14px, 20px, 400);
  font-family: $primary-text;
  text-transform: uppercase;
  color: $basic-black;
  text-align: center;

  @include above($tablet-width) {
    @include font-size (20px, 20px, 400);
    margin-left: auto;
  }

  @include above($desktop-width) {
    @include font-size (20px, 20px, 400);
    margin-left: 0;
    margin-right: auto;
  }
}
